# Bird Call Identifier
# Sprint 1 dependencies
# Install with: pip install -r requirements.txt
# librosa needs a system-level decoder to read .mp3 files. pip cannot install this. Install via terminal with: Mac (Homebrew): brew install ffmpeg, Windows (Chocolatey): choco install ffmpeg, Linux: sudo apt install ffmpeg
# The database implementation for this project requires a concurrent PostgreSQL server to be running and connected with the project. Please visit https://www.postgresql.org/download/ for 
# OS-specific installation instructions, and refer to the db.py and schema.sql files for implementation steps

numpy>=1.22.3
scipy>=1.6.0
librosa>=0.11.0
matplotlib>=3.5.0
soundfile==0.12.1
audioread==3.0.1
psycopg2-binary>=2.9.0
Flask>=2.3.0